<div class="footer">
  <div class="inner">
    <ul class="nav">
      <li>
        <%= link_to "Privacy", '/privacy' %>
      </li>
      <li>
        <%= link_to "Terms", '/terms' %>
      </li>
      <li>
        <%= link_to "Support", '/support' %>
      </li> 
      <li>
        <%= link_to "Corporate Gifts", '/corporate' %>
      </li>
      <li>
        <%= link_to "Contact",'/contact' %>
      </li>
    </ul>
    <p class="copyright">&copy; 2010 Gratifi eCommerce </p>
  </div>
</div>
<%= render 'shared/google_analytics' %>
