<li><%= link_to t("home"), root_path%></li>
<li><%= link_to "Products", products_url%></li>
<li><%= link_to "FAQs", page_url("faqs")%></li>
<li><%= link_to "Blog", "/news"%></li>
<li><%= link_to "About",  page_url("about")%></li>
